.articlescnt {
  min-height: 70vh;
  margin-top: 5vh;
}
.articlecard {
  background-color: #232323;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 22rem;
  transition: all 0.5s ease;
  transform: scale(1);
  min-height: 300px;
}

.articlecardheader {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 700;
}
.articlecardbody {
  font-size: 20px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  font-weight: 200;
}
.articlecard:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(120%);
}
.articletag {
  border-radius: 10px;
  padding: 7px;
  background-color: #434343;
}
@media only screen and (max-width: 768px) {
  .articlecard {
    width: 100% !important;
  }
  .articlecardheader {
    font-size: 22px !important;
    line-height: 32px !important;
    font-weight: 700;
  }
  .articlecardbody {
    font-size: 20px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    font-weight: 200;
  }
}
