.mainCnt {
  min-height: 70vh;
}
.maintitlesec {
  color: white;
  border-bottom: 2px solid gray;
  padding: 20px 0;
}
.maintitle {
  color: white;
  font-size: 72px;
  margin: 10px auto;
}
.articletag {
  border-radius: 10px;
  padding: 7px;
  background-color: #434343;
}
.paragraph {
  color: white;
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .maintitle {
    font-size: 36px;
  }
  .paragraph {
    font-size: 20px;
  }
}
